.footer-div {
  height: 20vh;
  background-color: rgb(88, 88, 88);
  display:flex;
  flex-direction: column;
}

.footerTextDiv {
  display: flex;
  justify-content: center;
  color:  white;
}

.footerIconDiv {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.footerIconDiv>a>img {
  height: 75%;
}

.footerIconDiv>a>img:hover {
  background: rgb(153, 14, 14);
  transform: scale(1.5);
  transition:.2s;
}