/* Temporary colors and sizing */

.headerDiv {
  color: white;
  position: absolute;
  z-index:1;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 200%;
  opacity: .6;
  margin-top: 6%;
  object-fit: cover;
}

.headerDiv>h1 {
  margin:0;
  display: flex;
  justify-content: center;
}
