.infoCardDiv {
  width: 30%;
}

.infoCardDiv>img {
  height: 40%;
  width: 100%;
  display: block;

}

.infoCardDivBody {
  /* height: 100%; */

  background-color: #FFFFFF;
  margin-bottom: 20px;
  min-height: 120px;

  display: flex;
  flex-direction: column;




}

.infoCardDivBodyTop {
  height: 20%;

  display: flex;
  justify-content: center;

}

.infoCardDivBodyBottom {
  height: 70%;



  display: flex;
  justify-content: center;

}

.infoCardDivBodyTop>p{

  font-size: 1.2em;

  font-size: x-large;

  font-weight: 700


}

.infoCardListContent {
  height: auto;

  width: 100%;






}

.infoCardListContent>ul {
  height: 70%;

  margin-right: 25px;



  font-size: x-large;




}



.infoCard>ul{
  padding-right: 2px;
}

.infoCardListContent>ul>li{
  line-height: 1.6em;


}



/* Red = #EF273C */

@media only screen and (max-width: 1144px) {
  .infoCardDiv {
    width: 100%;
    margin-bottom: 20px;
  }
}
