.infoCardDivBody {
  height: auto;

  background-color: #FFFFFF;
  margin-bottom: 20px;
  min-height: 120px;

  display: flex;
  flex-direction: column;

  text-align: center;

}

.infoCardDivBodyTop {
  height: 30%;

}

.infoCardDivBodyBottom {
  height: 70%;


}

.infoCardDivBodyTop>p{

  font-size: 1.2em;

  font-size: x-large;

  font-weight: 700


}

.infoCardDivBodyBottom>ul {
  height: 70%;

  margin-right: 25px;

  

  font-size: x-large;



}



.infoCard>ul{
  padding-right: 2px;
}

.infoCardDivBodyBottom>ul>li{
  line-height: 1.6em;
}



/* Red = #EF273C */
