.topBanner {
  height: 50vh;
  width: 100vw;
  background-color: green;
  position: relative;
}

.topBanner>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.topBannerQuote{
  position: absolute;
  width: 100%;
  top: 50%;


  display: flex;
  justify-content: center;


}

.topBannerQuoteContentTop {
  display: flex;
  color: white;

}

.topBannerQuoteContentTop>h1 {
  margin: 0
}


.topBannerQuoteContentTop>h1:first-child {
  margin-right: 10px;
}

.topBannerQuoteContentBottom {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 472px ) {
  .topBannerQuoteContentTop {
    flex-direction: column;

  }
  .topBannerQuoteContentTop>h1:first-child {
    margin-right: 0;
  }
}
