.topBanner {
  height: 100vh;

  background-color: green;
  position: relative;

}

.topBanner>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  margin: 0;
}

.topBannerQuote{
  position: absolute;
  width: 100%;
  top: 50%;


  display: flex;
  justify-content: center;


}

.topBannerQuoteContentTop {
  display: flex;
  color: white;

}

.topBannerQuoteContentTop>h1 {
  margin: 0
}


.topBannerQuoteContentTop>h1:first-child {
  margin-right: 10px;
}

.topBannerQuoteContentBottom {
  display: flex;
  justify-content: center;
}

.topBannerQuoteContentBottom>a>button {
  background: transparent;
  color: white;
  border-radius: 12px;
  border: 2px solid #fff;
  padding: 10px;
  transition: .5s;
  text-decoration: none;


}
.topBannerQuoteContentBottom>a>button:hover{
  background-color:  #131313;
  color: #EF273C;


}

@media only screen and (max-width: 472px ) {
  .topBannerQuoteContentTop {
    flex-direction: column;

  }
  .topBannerQuoteContentTop>h1:first-child {
    margin-right: 0;
  }
}
